header {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1 1 auto;
}


a {
    color: #38393A;
    text-decoration: none;
}

ul {
    padding-top: 13px;
    display: flex;
}

.header-li {
    margin-left: 50px;
}
